/* body {
    background-color: #2f3136;
    font-family: "Montserrat";
    color: white;
} */
.appbody {
    background-color: #2b2a33;
    color: white;
    font-family: "Oswald";
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.pacerbar {
    background-color: skyblue;
    color: orange;
}

.questionnumbers {
    color: #514f5f;
    text-shadow: 1px 1px #000000;
    word-spacing: 46.7px;
}

.middleofpage {
    text-align: center;
}

p {
    color: darkgray
}