$timer_thickness: 2.5vw;
$timer_before_color: rgba(0, 0, 0, 0.775);
$timer_after_color: #f67727;
$timer_seconds: 10;
// $timer_each: (
//     $timer_seconds / 4) + 0s;
$timer_each: 1.35s;

/* body {
    background-color: #2f3136;
    font-family: "Montserrat";
    color: white;
} */
.appbody {
    background-color: #2b2a33;
    color: white;
    left: 0;
    top: 0;
    z-index: -1;
    font-family: "Oswald";
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;

}

.pacerbar {
    background-color: skyblue;
    color: orange;
}

.wraparound {
    shape-outside: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    position: absolute;
    z-index: -2;
    color: #514f5f;
    text-shadow: 1px 1px #000000;
    font: 50px "Oswald";
    max-height: 100vh;
    word-wrap: break-word;
}

.middleofpage {
    text-align: center;
}

p {
    color: darkgray
}

.logo {
    background-image: url("https://media.discordapp.net/attachments/612771858969788436/1020740691606917130/bannerTransparentFixed.png?width=1440&height=480");
    aspect-ratio: 4/1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

// .visualtimer {
//     background-color: transparent;
//     outline-offset: -4px;
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     z-index: 0;
//     outline: $timer_after_color solid $timer_thickness;

// }

/* Effect 9: Surrounding borders */
.fullscreen-timer {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 0vw solid $timer_before_color;
    pointer-events: none;
}

.fullscreen-timer div {
    position: fixed;
    background: $timer_after_color;
}

.fullscreen-timer div:first-child,
.fullscreen-timer div:nth-child(3) {
    width: 0;
    height: $timer_thickness;
}

.fullscreen-timer div:nth-child(2),
.fullscreen-timer div:nth-child(4) {
    width: $timer_thickness;
    height: 0;
}

.fullscreen-timer div:first-child {
    top: 0;
    left: 0;
}

.fullscreen-timer.la-animate div:first-child {
    width: 100%;
    -webkit-transition: width $timer_each linear 0.3s;
    transition: width $timer_each linear 0.3s;
}

.fullscreen-timer div:nth-child(2) {
    top: 0;
    right: 0;
}

.fullscreen-timer.la-animate div:nth-child(2) {
    height: 100%;
    -webkit-transition: height $timer_each linear 1.65s;
    transition: height $timer_each linear 1.65s;
}

.fullscreen-timer div:nth-child(3) {
    right: 0;
    bottom: 0;
}

.fullscreen-timer.la-animate div:nth-child(3) {
    width: 100%;
    -webkit-transition: width $timer_each linear 3s;
    transition: width $timer_each linear 3s;
}

.fullscreen-timer div:nth-child(4) {
    bottom: 0;
    left: 0;
}

.fullscreen-timer.la-animate div:nth-child(4) {
    height: 100%;
    -webkit-transition: height $timer_each linear 4.35s;
    transition: height $timer_each linear 4.35s;
}

.fullscreen-timer.la-animate {
    z-index: 100;
    border: $timer_thickness solid $timer_before_color;
    opacity: 0;
    -webkit-transition: border 0.3s, opacity 0.3s 5.7s;
    transition: border 0.3s, opacity 0.3s 5.7s;
}