<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" id="pause-resume-button">Pause</button>
    <button type="button" class="btn btn-danger" id="end-button">End</button>
</div>

<script>
    $(document).ready(function () {
        $("#pause-resume-button").click(function () {
            console.log("Pause/Resume Button Clicked!")
            // Triggered when the pause/resume button is clicked
        })
        $("#end-button").click(function () {
            console.log("End Button Clicked!")
            // Triggered when the end button is clicked.
            // Perhaps look into bootstrap modals!!
        })

    })
</script>