<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" id="pause-resume-button">Pause</button>
    <button type="button" class="btn btn-danger" id="end-button">End</button>
</div>


<div class="modal fade" id="EndModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Are you sure you want to end this session?
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">End Session</button>
            {{!-- ^ RECONFIGURE THIS BUTTON TO SEND YOU BACK TO MAIN MENU (main menu made by nathan t.) ^ --}}

            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Resume</button>
        </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#pause-resume-button").click(function () {
            console.log("Pause/Resume Button Clicked!")
            // Triggered when the pause/resume button is clicked
        })

        $("#end-button").click(function () {
            console.log("End Button Clicked!")
            // Triggered when the end button is clicked.
            $('#EndModal').modal('show'); 
        })

    })
</script>