<div id="visualtimer">
    <div class="wraparound">
        {{#each @questions as |question|}}
        <div class="question">
            <div class="question-number">
                {{question.number}}{{question.letter}}
            </div>
        </div>
        {{/each}}
    </div>


</div>