
{{!--Main page for the TestTail website. User can either choose a preset or make their own then begin the test.
    Todo: Add dynamic content. Make buttons link and save time and # of Q's settings
    Nathan Teall --}}
<div>
    <header>
        <h1>Welcome to TestTail!</h1>
    </header>
    <div class="card" style="width: 400px;">
        <div class="card-header" style="text-align:center;">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Choose from a preset here!
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="usePreset(h=0,m=45,s=0,q=75)">ACT - English</a></li>
                    <li><a class="dropdown-item" href="#" onclick="usePreset(h=1,m=0,s=0,q=60)">ACT - Math</a></li>
                    <li><a class="dropdown-item" href="#" onclick="usePreset(h=0,m=35,s=0,q=40)">ACT - Science</a></li>
                    <li><a class="dropdown-item" href="#" onclick="usePreset(h=0,m=35,s=0,q=40)">ACT - Reading</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body" style="text-align:center;">
            <p>Alternatively, start from scratch below:</p>
            <div class="input-group mb-3 has-validation" style="width: 350px;">
                <span class="input-group-text">Hours:</span>
                <input id="hours" type="text" class="form-control" placeholder="00" aria-label="00" style="text-align:center;">

                <span class="input-group-text">Minutes:</span>
                <input id="minutes" type="text" class="form-control" placeholder="00" aria-label="00" style="text-align:center;">

                <span class="input-group-text">Seconds:</span>
                <input id="seconds" type="text" class="form-control" placeholder="00" aria-label="00" style="text-align:center;">

            </div>
            <div class="input-group mb-3" style="width: 150px;">
                <span class="input-group-text">Questions:</span>
                <input id="questions" type="text" class="form-control" placeholder="20" aria-label="20" style="text-align:center;">
            </div>
           
            <a id="startButton" href="start?seconds=0" class="btn btn-success disabled" role="button" aria-disabled="true">Begin Test</a>
            <p></p>
            <button id="about" type="button" class="btn btn-outline-warning btn-lg" style="text-align:center;">About</button>
            <script>
                const secondsForm = document.getElementById("seconds");
                const minutesForm = document.getElementById("minutes");
                const hoursForm = document.getElementById("hours");
                const questionsForm = document.getElementById("questions");

                // Logic for disabling/enabling the button when valid/invalid values are entered
                function checkTime(){
                    var seconds = parseInt(secondsForm.value);
                    var minutes = parseInt(minutesForm.value)*60;
                    var hours = parseInt(hoursForm.value)*3600;
                    var questions = parseInt(questionsForm.value);
                    var time = seconds+minutes+hours;

                    if (time && questions){
                        link = "start?seconds=" + time + "&questions=" + questions;
                        $("#startButton").attr("href", link);
                        $("#startButton").attr("class", "btn btn-success enabled");
                        $("#startButton").attr("aria-disabled", "false");
                        console.log("Enabled!");

                    }else{
                        $("#startButton").attr("class", "btn btn-success disabled");
                        $("#startButton").attr("aria-disabled", "true");
                        console.log("Disabled!");
                    }
                }

                // When the forms for the time/Qs is changed, it will get whatever is put into it and save how many seconds/mins/hours/questions
                secondsForm.addEventListener('change', (event) => {
                    checkTime();
                });

                minutesForm.addEventListener('change', (event) => {
                    checkTime();
                });

                hoursForm.addEventListener('change', (event) => {
                    checkTime();
                });

                questionsForm.addEventListener('change', (event) => {
                    checkTime();
                });

                // Sets the proper values for time and questions when a preset is selected
                function usePreset(h=0, m=0, s=0, q=0){
                    document.getElementById("hours").value = h;
                    document.getElementById("minutes").value = m;
                    document.getElementById("seconds").value = s;
                    document.getElementById("questions").value = q;
                    checkTime();
                }

            </script>
        </div>
    </div>
</div>