{{page-title "TestTail"}}


<div class="container-fluid appbody">

    <div class="attribution">
        <p alt="TestTail Logos" class="attr-logo"></p>
        <p alt="TestTail Build Info">Commit {{app-version shaOnly=true}}</p>
    </div>
    <div>
        {{outlet}}
    </div>




</div>