{{page-title "TestTail"}}

<FullPageVisualTimer @questions={{@model}} @seconds=25 />
<div class="container-fluid appbody">

    <div class="middleofpage">

        <h1 class="logo" alt="Project TestTail"></h1>
        <p>If you're reading this, then TestTail has successfully been deployed!</p>

    </div>

</div>
{{outlet}}