{{page-title "TestTail"}}

<div class="container-fluid appbody">

    <div class="middleofpage">
        <h1>Project TestTail</h1>
        <p>If you're reading this, then TestTail has successfully been deployed!</p>

    </div>
    <div class="container-fluid ">
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>

        </div>
        <p class="questionnumbers"> 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20</p>
    </div>
</div>

{{outlet}}