{{page-title "Testmode"}}
<hr />

<div alt="Test Mode Notice" class="card border-warning  rounded" style="opacity: 50%; border-style: dashed">

    <div class="card-body  text-warning">
        You are currently viewing a developer draft of an individual TestTail component. <br />Contents of page may not
        be
        representative of final
        product.
    </div>

</div>
<hr />

{{outlet}}