{{page-title "TestGsfqc"}}
<p id="test">

</p>
<script>
    function getSectionsFromQuestionCount(numberOfQuestions, screenWidth = window.innerWidth, screenHeight = window.innerHeight) {
        // Returns an array of 4 strings -- [top, right, bottom, left] -- each creating an equal representation of time.

        return ["1 2 3", "4 5", "8 7 6", "9 10"];

        /*
        ["1 2 3", "4 5", "8 7 6", "9 10"] generates:
        
                1              2             3
                10        0:00:00            4
                9                            5
                8              7             6
        */
    }
    $(document).ready(function () {
        let result = JSON.stringify(getSectionsFromQuestionCount(10))
        $("#test").text(result)
    })
</script>
{{outlet}}